@import 'normalize';
@import 'colors';
@import 'fonts';

*, *:before, *:after {
    box-sizing: border-box;
}

// make icon SVGs take their parent tag's color.
svg.icon {
    fill: currentColor;
}

// ==== sticky footer ====
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > header, > footer {
        flex-shrink: 0;
    }

    > main {
        flex-grow: 1;
    }
}

// === don't run into the edges of the screen ===
main {
    padding: 1em;
}

// ==== color scheme & fonts ====
body {
    background: $background;
    color: $text;
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

code, pre {
    font-family: $mono-font;
}

a {
    color: $highlight;
    &:visited {
        color: darken($highlight, 10%);
    }
}

// ==== fix svg icon positioning ====
.icon {
    height: 1em;
    width: 1em;
    position: relative;
    bottom: -0.125em;
}

// ==== main page ====
header.title > h1 {
    font-size: 2em;
    // display: inline-block;
    margin-bottom: 1em;
    transform: scale(1,2);
}

header.title > h2 {
    // display: inline-block;
    transform: scale(1,1.5);
}

.backspin {
    color: $background;
    background-color: $text;
}

header {
    margin-bottom: 5em;
}

body > footer {
    border: 1px solid $highlight;

    margin: 0.3em;
    padding: 0.2em;
    font-size: 1.25em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > div.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a:first-child { padding-right: 0.2em; }
    a:last-child { padding-left: 0.2em; }
    a:not(first-child):not(last-child) {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }

    a + a {
        border-left: 2px solid $highlight;
    }
}

.socials-grid {
    a {
        margin: 1em;
        color: blue;
    }
}
