@import 'normalize';
@import 'colors';
@import 'fonts';

*, *:before, *:after {
    box-sizing: border-box;
}

// make icon SVGs take their parent tag's color.
svg.icon {
    fill: currentColor;
}

// ==== sticky footer ====
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > header, > footer {
        flex-shrink: 0;
    }

    > main {
        flex-grow: 1;
    }
}

// === don't run into the edges of the screen ===
main {
    padding: 1em;
}

// ==== color scheme & fonts ====
body {
    background: $background;
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

code, pre {
    font-family: $mono-font;
}

// ==== fix svg icon positioning ====
.icon {
    height: 1em;
    width: 1em;
    position: relative;
    bottom: -0.125em;
}

// ==== main page ====
header.title > h1 { font-size: 2em; }

.my-name {
    color: $background;
    background-color: $text;
}

body > footer {
    border: 1px solid $highlight;

    margin: 0.3em;
    padding: 0.2em;
    font-size: 1.25em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}