<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="{{ config.extra.author }}">

    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

    <title>{% block title %}{{config.title}}{% endblock title %}</title>
</head>
<body>
    {% block header %}
    {% endblock header %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <div class="footer-row">
            <a href="{{ get_url(path="@/_index.md") }}">home</a>
            <a href="{{ get_url(path="@/labnotes/_index.md") }}">labnotes</a>
        </div>

        <div>
            {% block footer_pre %}{% endblock footer_pre %}
            {{ now() | date(format="%Y") }} Erin Moon
            {% block footer_post %}{% endblock footer_post %}
        </div>
    </footer>
</body>
</html>
