{% extends "base.html" %}
{% block content %}
<section>
  <header class="title">
    <h1>Hi! I'm <span class="my-name">Erin</span>.</h1>
  <h2>I'm a {trans girl, eecs student, programmer, fake mathematician, musician, machinist, hacker}.</h2>
  </header>
</section>
<section>
  <p>Software things I have worked on include:</p>
  <ul>
    <li><a href="https://github.com/rustodon/rustodon">Rustodon</a>, a <a href="https://joinmastodon.org">Mastodon</a>-compatible <a href="https://activitypub.rocks">ActivityPub</a> server implemented in <a href="https://www.rust-lang.org">Rust</a>,</li>
    <li>✨<a href="https://github.com/barzamin/sparkle">sparkle</a>✨, a microkernel written in Rust with lofty goals and similarly lofty procrastination skills,</li>
    <li>and <a href="https://github.com/gcnhax">GCNHax</a>, a collection of tools for romhacking Nintendo GameCube games and bending them to your will.</li>
  </ul>

  <p>I work on a number of Rust crates, ranging from <a href="https://crates.io/crates/nom-reader">low-level utility libraries</a>
    to <a href="https://github.com/barzamin/linux-gpib-rs">GPIB bindings</a> for automated lab instrumentation; I also co-maintain
    several crates (notably, <a href="https://github.com/rust-native-ui/libui-rs">libui-rs</a> and <a href="https://github.com/meh/rust-ffmpeg"><code>ffmpeg</code></a>).</p>

  <p>In the past, I contributed to the <a href="https://github.com/glitch-soc/mastodon">glitch-soc</a> fork of Mastodon, as well as the <a href="https://github.com/tootsuite/mastodon">upstream</a>.</p>

  <p>As a side project, I run <a href="https://www.hecke.rs/">hecke.rs</a>, a set of semi-public services targeted at users of the ActivityPub fediverse, including mail, chat, RSS aggregation, Git hosting, and collaborative notepads.</p>

</section>
{% endblock content %}
